@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-sizing: 0 5px 15px rgba(0,0,0,0.06);
}

#logo-prin{
    font-weight: bold;
    font-size: 40px;
    color: #1a1a1a;
    text-decoration: none;
}

#logo-prin span{
    color: rgb(248, 132, 64);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover, #navbar li a.active{
    color: rgb(248, 132, 64);
}

#navbar li a.active::after, #navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: rgb(248, 132, 64);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#contador {
    padding-left: 0;
}