@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-p1{
    padding: 40px 80px;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
}

.cont-btns{
    display: flex;
    align-items: center;
}

.cont-btns button{
    background: rgb(248, 132, 64);
    color: white;
    padding: 8px 12px;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease;
}

.cont-btns button:hover{
    background-color: black;
    color: rgb(248, 132, 64);
}

.cont-btns p{
    margin: 0 20px;
    font-weight: bold;
}

#cartbtn{
    border: none;
    background-color: rgb(248, 132, 64);
    padding: 7px;
    margin: 10px;
    color: white;
    border-radius: 7px;
    transition: 0.3s;
}

#cartbtn:hover{
    background-color: black;
    color: rgb(248, 132, 64);
}

/* ------------------ ITEM ECOMMERCE ---------------------- */

.pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.3s ease;
}

.pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.pro img {
    width: 100%;
    border-radius: 20px;
}

.pro .desc{
    text-align: start;
    padding: 10px 0;
}

.pro .des span{
    color: #606063;
    font-size: 12px;
}

.pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

.pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
}

/* ----------------- ITEM SINGLE ------------------------- */

